[Unit]
Description=HVAC Application
Documentation=
After=network.target

[Service]
ExecStart=/home/deevia/.nvm/versions/node/v18.17.1/bin/node /home/deevia/test_run/Business_Intelligence/hvac_optimized_flashing.js
Restart=always
User=deevia
Group=deevia
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
